* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: calc(100vw - 20px);
  height: 100vh;
  overflow: auto;
  background-color: antiquewhite;
  border-radius: 5px;
}

.container .top {
  height: 60px;
  display: flex;
  align-items: center;
}

.container .top .input {
  background: transparent;
}

.container .main {
  height: calc(100vh - 60px);
  overflow: auto;
  width: 100%;
}

.container .main .list {
  color: #97a8bb;
}

.container .main .list .cell {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08);
  align-items: flex-end;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.container .main .list .cell .todo {
  width: 200px;
  word-break: break-all;
  max-height: 60px;
  overflow-y: auto;
}

.container .main .list .cell .time {
  display: flex;
  font-size: small;
  color: #97a8bb;
  display: flex;
  align-items: center;
}

.container .main .list .cell .time .icon {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.container .main .list .cell:hover .icon {
  opacity: 1;
}

.container .main .list .cell:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
}

::-webkit-scrollbar {
  display: none;
}

